.content {
	position: relative;
	width: 100%;
	background-color: #f4f4f4;
}

.top {
	position: relative;
	height: 60rpx;
	z-index: 9999;
}

.top .right {
	padding-top: 5px;
	display: flex;
	justify-content: end;
}

.top .right .item {
	margin-right: 15rpx;
}

.fixed-top{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	-webkit-animation: fixed-top 0.5s;
}

@-webkit-keyframes fixed-top{
    0%{ -webkit-transform:translateY(-30rpx); opacity:0;}
}

.fixed-user{
	
	display: flex;
	align-items: center;
}

.fixed-user .avatar{
	width: 60rpx;
	height: 60rpx;
	border-radius: 50%
}

.fixed-user  .username{
	font-size: 28rpx;
}

.content .image {
	position: relative;
	top: -200rpx;
}

.content .image image {
	width: 100%;
}

.content .main {
	position: relative;
	top: -200rpx;
	width: 100%;
	z-index: 22;
}

.content .main .top {
	width: 100%;
	height: 340rpx;
	display: block;
	background-color: #fff;
	
}



.content .main .top .user {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 200rpx;
	border-radius: 10px;

}

.content .main .top .user .user-left {
	width: 500rpx;

}

.content .main .top .user .user-left image {
	position: absolute;
	left: 60rpx;
	top: -50rpx;
	width: 120rpx;
	height: 120rpx;
	border-radius: 50%
}

.user-content {
	margin-top: 80rpx;
	margin-left: 60rpx;
}

.user-id {
	margin-top: 5rpx;
	margin-bottom: 5rpx;
	color: #5c5c5c;
}

.content .main .top .user .user-right {
	margin-top: 40rpx;
	width: 200rpx;
}

.f{
	font-size: 28rpx;
}


.content .main .top .info {

	display: flex;
	height: 100rpx;
	margin-left: 80rpx;
	margin-right: 80rpx;
	justify-content: space-between;
	align-items: center;
	font-size: 28rpx;
}

.nologin {
	padding-top: 120rpx;
}

.nologin button {

	width: 300rpx;
	height: 80rpx;
	color: #fff;
	background-color: #ff0000;
	border-radius: 20px;
	line-height: 80rpx;
}