ul {
	padding-left: 0rpx;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.content {

	height: 100vh;
	background-color: #f4f4f4;

}

.content .nav {
	display: flex;
	align-items: center;
	background-color: #fff;
	height: 80rpx;
}

.content .nav a {
	margin-left: 10px;
	display: inline-block;
	font-size: 20px;
}

.update_pwd {
	margin-top: 20px;
	padding: 0 20px;
	background-color: #fff;
}

.info {
	background-color: #fff;
	margin-top: 20px;
}



.info-item {
	padding: 0 20px;
}

.info-item-zhuti {
	height: 100rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px #f4f4f4 solid;
}

.title {
	color: #707070;
}

.fotter {
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.f-btn {

	margin: auto;
	text-align: center;
}

button {
	width: 500rpx;
	color: #fff;
	background-color: coral;
	border-radius: 20px;
}