.container {
	margin-top: 160rpx;
}

.page {
	height: 90vh;
}

.item-hot {
	display: flex;
	justify-content: flex-start;
	padding-top: 20rpx;
	
}

.item-hot-left {
	width: 90rpx;
	text-align: center;
	color: #f90000;
}

.item-hot-right {
	width: 620rpx;
	padding-right: 40rpx;
	border-bottom: 1px solid #e7e7e7;
}

.item-hot-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.top-left {
	display: flex;
	align-items: center;
}
.top-left .username{
	font-size: 28rpx;
}

.top-right {
	color: #ff5500;
	font-size: 28rpx;
}

.avatar image {

	width: 80rpx;
	height: 80rpx;
	margin-right: 5px;
	border-radius: 50%;
}

.content {
	font-size: 28rpx;
	clear: both;
	/* 清除左右浮动 */
	word-break: break-word;

	text-overflow: -o-ellipsis-lastline;
	/* 溢出内容隐藏 */
	overflow: hidden;
	/* 文本溢出部分用省略号表示		 */
	text-overflow: ellipsis;
	/* 特别显示模式	 */
	display: -webkit-box;
	/* 行数		 */
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;

	/* CSS 3 (and 2.1 as well, actually) */
	word-break: break-all
}

.images {
	margin: 8rpx;
	display: flex;
	position: relative;
}

.images image {

	width: 200rpx;
	height: 200rpx;
	margin-right: 5px;
	border-radius: 8px;
}

.nums {
	position: absolute;
	top: 150rpx;
	left: 540rpx;
	background-color: #7a7a7a;
	width: 60rpx;
	height: 45rpx;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	border-radius: 4px;
	z-index: 999;
}

.loadStyle {
	margin-top: 20rpx;
	width: 100%;
	height: 60rpx;
	text-align: center;
	color: #bfbfbf;
}


/* 图片淡入淡出 */
.fadeImg {
width: 100px;
height: 100px;
background: #fff;
-webkit-animation: fadeinout 2s linear forwards;
animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}

@keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}


@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@keyframes fadeinout {
0%{ opacity:0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}

@keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}
