
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 24rpx;
	height: 80rpx;
}

.n-left {
	display: flex;
	align-items: center;
}


image {
	width: 120rpx;
	height: 120rpx;
	border-radius: 10px;
}

ul {
	padding: 0rpx;
}

li {
	list-style: none;
}

.main {
	border-top: 1px solid #f4f4f4;
}

.albums {
	margin-left: 40px;
}

.album-body {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.item-activate {
	background-color: #f4f4f4;
}

.content {
	margin-left: 10px;
	font-size: 28rpx;
}

.add-album {
	border-top: 1px solid #f4f4f4;
	margin-top: 10px;
	padding-top: 10px;
}

.title {
	color: #5c5c5c;
	margin-left: 40px;
	font-size: 28rpx;
}

.fotter {
	position: fixed;
	display: flex;
	align-items: center;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #fff;
	z-index: 999;
}

.add {
	width: 80%;
	margin: auto;
}

.add-album-body {
	margin-top: 10px;
	display: flex;
	margin-left: 40px;
}

.add-input {
	width: 400rpx;
	height: 66rpx;
	background-color: #f4f4f4;
	border-radius: 8px;
	padding-left: 5px;
	font-size: 28rpx;
}