ul{
	padding: 0;
}
	
li {
	list-style: none;
}

.content .head {
	margin-top: 10rpx;
	position: relative;
	height: 80rpx;
}


.tui-search-box {
	width: 95%;
	height: 32px;
	margin: 0 28rpx;
	border-radius: 18px;
	font-size: 14px;
	background-color: #f1f1f1;
	padding: 0 12px;
	box-sizing: border-box;
	color: #bfbfbf;
	display: flex;
	align-items: center;
}

.content .head .search {
	margin-left: 40rpx;
	margin-top: 10rpx;
}

.content .head .search-input {
	position: absolute;
	width: 500rpx;
	height: 60rpx;
	background-color: #f1f1f1;
	padding-left: 10px;
	border-radius: 15px;
}

.content .head button {
	position: absolute;
	left: 580rpx;
	width: 120rpx;
	height: 60rpx;
	background-color: #ec2124;
	font-size: 14px;
	color: #fff;
	line-height: 60rpx;
}

.content .main {
	display: flex;
}



.item-left{
	padding-top: 10rpx;
	width: 180rpx;
	height: 80rpx;
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
}

.activated{
	color: #ec2124;
	background-color: #fff;
}

.item-left .item-box{
	 width: 95%;
	 margin: auto;
	 height: 40rpx;
	 font-size: 32rpx;
	 text-align: center;
	 
}

.box-activated{
	 border-left: 2px solid;
}








.content .main .left {
	width: 140rpx;
}

.right .r-head {
	
	height: 250rpx;
}

.right .r-head .r-h-item {
	float: left;
	margin-left: 20rpx;
	font-size: 28rpx;
}

p {
	text-align: center;
}

image {
	width: 260rpx;
	height: 180rpx;
	border-radius: 8px
}

.r-category .r-c-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20rpx;
	margin-right: 20rpx;
}

	
.r-category .r-c-top-left::before{
	content: "|";
	color: #ec2124;
	font-weight: bold;
}

.r-category .r-c-top-right{
	color: #e84d74;
	font-size: 28rpx;
	display: flex;
	align-items: center;
}



.r-category .r-c-main .tui-grid {
	font-size: 28rpx;
	padding: 5px;
	
}

.r-autor .r-a-top {
	margin-left: 20rpx;
}

.r-autor .r-a-main image {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%
}

.r-autor .r-a-main .card {
	text-align: center;
}
