
/deep/.uni-scroll-view-refresh__spinner>circle{
   color:#8c8c8c !important;
}
/deep/.uni-scroll-view-refresh-inner>svg {	
   fill: #8c8c8c  !important;
}

/deep/.uni-scroll-view-refresh-inner{
	box-shadow: 0 0 0 #fff;
}


a {
	text-decoration: none;
	color: #7a7a7a;
}

ul {
	padding-left: 0rpx;
}

li {
	list-style: none;
}

.container {
	position: relative;
	margin-top: 170rpx;
}

.main {
	/* column-count: 2;
	column-gap: 0rpx; */
	width: 95%;
	margin: auto;
	background-color: #f4f4f4;
}


.waterfall-item__image image{
	-webkit-animation: fadeinout 2s linear forwards;
	animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}

@keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}


@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@keyframes fadeinout {
0%{ opacity:0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}

@keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}


.page {
	height: 90vh;

}

.d-container {
	width: 400rpx;
	padding: 180rpx 40rpx;
}

.d-content {
	/* background-color: #eaeef1; */
}

.find-user {
	height: 80rpx;
	border-bottom: 1px solid #f4f4f4;
}

.d-function {
	border-bottom: 1px solid #f4f4f4;
}

.d-function ul li {
	margin-top: 30rpx;
	margin-bottom: 30rpx;
}



.item {
	display: flex;
	justify-content: space-between;
	width: 200rpx;
	align-items: center;
	padding: 0rpx 10rpx;
	color: #7f7f7f;
	font-size: 30rpx;
}

.cover {
	width: 100%;
	max-height: 450rpx;
	object-fit: cover;
}

image {
	width: 100%;
    
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.header {
	padding: 80rpx 90rpx 60rpx 90rpx;
	box-sizing: border-box;
}

.title {
	font-size: 34rpx;
	color: #333;
	font-weight: 500;
}

.sub-title {
	font-size: 24rpx;
	color: #7a7a7a;
	padding-top: 18rpx;
}

.tui-title {
	width: 100%;
	padding: 50rpx 30rpx 30rpx;
	box-sizing: border-box;
	font-weight: bold;
}

.tui-header-bg {
	width: 100%;
	margin: 0;
}

.tui-mtop {
	position: relative;
	display: flex;
}

.tui-mtop-fixed{
	position: fixed; 
	display: flex;
	width: 100%;
	top: 154rpx; 
	z-index: 999; 
	background-color: #fff;
	-webkit-animation: tui-mtop-fixed 0.1s;
}

@-webkit-keyframes tui-mtop-fixed{
    0%{ -webkit-transform:translateY(-30rpx); opacity:0;}
}


.nav {
	overflow: auto;
}

.nav ul {
	white-space: nowrap;
}

.nav::-webkit-scrollbar {
	display: none;
}

.nav ul li {
	display: inline-block;
	font-size: 25rpx;

}

.nav ul li a {
	display: inline-block;
	margin: 0rpx;
	color: #333;
	padding-left: 45rpx;
}

.c-activated{
	
	color: red;
}

.tui-mtop a {
	line-height: 80rpx;
	margin-right: 40rpx;
}

.tui-mtop-fixed a {
	line-height: 80rpx;
	margin-right: 40rpx;
}



.nav-show {
	position: absolute;
	background-color: #fff;
	top: 82rpx;
	width: 100%;
	font-size: 24rpx;
	z-index: 9999;
}

.box-show {
	display: none;
}

.nav-show ul {
	
}

.nav-show ul li {
	float: left;
	display: inline-block;
}

.nav-show ul li a {
	display: inline-block;
	margin: 0rpx;
	color: #333;
	padding-left: 45rpx;
}


.tui-header-icon {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0 12rpx;
	display: flex;
	align-items: center;
	height: 32px;
	transform: translateZ(0);
	z-index: 99999;
	box-sizing: border-box;
}

.tui-content-box {
	width: 100%;
	height: 44px;
	padding: 0 30rpx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.tui-avatar-box {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #eaeef1;
	flex-shrink: 0;
}

.tui-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.tui-search-box {
	width: 100%;
	height: 32px;
	margin: 0 28rpx;
	border-radius: 18px;
	font-size: 14px;
	background-color: #f1f1f1;
	padding: 0 12px;
	box-sizing: border-box;
	color: #bfbfbf;
	display: flex;
	align-items: center;
}

.content {
	width: 300rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 28rpx;
}

.tui-bg-white {
	background-color: #ffffff !important;
}

.tui-search-text {
	padding-left: 10rpx;
}

.tui-notice-box {
	position: relative;
	flex-shrink: 0;
	font-size: 44rpx;
	color: #fff;
}

.tui-grid {
	padding: 3px 3px;

}

.waterfall-item {
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 10rpx;
	border-radius: 6px;
}



.loadStyle {
	margin-top: 20rpx;
	width: 100%;
	height: 60rpx;
	text-align: center;
	color: #bfbfbf;
}

	.card {
		box-sizing: border-box;
		break-inside: avoid;
		background-color: #fff;
		position: relative;	
	}
	
	.card .cont {
		margin-left: 10px;
	}
	
	.card .cont p {
		margin-top: 5px;
		font-size: 12px;
	}
	
	
	
	.card .card-nums {
		position: absolute;
		bottom: 130rpx;
		left: 300rpx;
		background-color: #7a7a7a;
		width: 30rpx;
		height: 45rpx;
		text-align: center;
		color: #fff;
		opacity: 0.5;
	}
	
	.userInfo {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 5px;
	}
	
	.avatar-usrname image {
		width: 50rpx;
		height: 50rpx;
		border-radius: 50%;
	}
	
	.avatar-usrname {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 5px;
	}
	
	.username {
		color: #000000;
		font-size: 24rpx;
	}
	
	.agreeCount {
		color: #000000;
		font-size: 24rpx;
	}
