ul {
	padding: 0rpx;
}

li {
	list-style: none;
}



.shade {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
}

.page {
	height: 95vh;
}

.content .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80rpx;
	margin-right: 10px;
}

.avatar {
	width: 60rpx;
	height: 60rpx;
	border-radius: 50%;

}

.content .nav a {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	font-size: 20px;

}

.content .nav .center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400rpx;
	font-size: 28rpx;

}

.followStatus {
	margin-left: 5px;
}

	
.img-list{
	margin-top: 175rpx;
}

/*  */
.img-list-two{
	display: flex;
}

.img-list-three{
	display: flex;
	
}

.img-list-five-top{
	display: flex
}

.img-list-five-down{
	display: flex
}


.img-list .tui-grid {
	padding: 0rpx;
}

.tui-grid img{
	
}
/* .img-list .tui-grid image {
	width: 252rpx;
	height: 264rpx;

} */

.cont {
	margin-top: 10rpx;
	margin-left: 40rpx;
	margin-bottom: 10rpx;
}

.cont .img-content {
	font-size: 32rpx;
}

.cont .time {
	margin-top: 10px;
	font-size: 12px;
	color: #c4c1c6
}

.relation {
	border-top: 1px solid #f4f4f4;
	width: 90%;
	margin: auto;
	padding-top: 10px;

}

.relation .r-all {
	height: 50rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.relation .r-all .r-all-right {
	display: flex;
	align-items: center;
}

.relation .r-list {
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
}

.relation .r-list .r-item {
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
	width: 90%;
}


.relation .r-list .r-item image {
	width: 180rpx;
	height: 180rpx;
	border-radius: 8px
}

.relation .r-list .r-item .item-content {
	margin-left: 10px;
	line-height: 80rpx;
}

.relation .r-list .r-item .item-content p {
	color: #c4c1c6;
	font-size: 16rpx;
}

.relation .r-tag {
	height: 80rpx;
	margin-top: 5px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #f4f4f4;
}

.relation .r-tag button {
	margin-left: 10rpx;
	margin-right: 0rpx;
	width: 120rpx;
	height: 60rpx;
	font-size: 25rpx;
}

.comment {
	margin: auto;
	padding-top: 10px;
}


.recommend {
	width: 90%;
	margin: auto;
	padding-top: 10px;
}

.fotter {
	position: fixed;
	padding-top: 20rpx;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #fff;
	z-index: 999;
}

.fotter-none {
	display: none;
}

.fotter-info {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.fotter-content {
	color: #878787;
	line-height: 60rpx;
	margin-left: 20px;
	margin-right: 10px;
	width: 450rpx;
	height: 60rpx;
	background-color: #f4f4f4;
	padding-left: 10px;
	bottom: 0;
}

.fotter p {
	color: #c4c1c6;
}

.tui-grid {
	padding: 3px 3px;

}

.card {
	/* border: 1px solid #f1f1f1; */
}



.card .cont p {
	margin-ltop: 5px;
	font-size: 12px;
}

.icon {
	width: 180rpx;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fotter-c-a{
	color: #c4c4c4;
	font-size: 28rpx;
}

/* 底部分享 */
.tui-share {
	background: #ffffff;
	position: relative;
}

.tui-share-title {
	font-size: 26rpx;
	color: #7E7E7E;
	text-align: center;
	line-height: 26rpx;
	padding: 20rpx 0 28rpx 0;
}

.tui-share-top,
.tui-share-bottom {
	min-width: 101%;
	padding: 0 20rpx 0 30rpx;
	white-space: nowrap;
}

.tui-mt {
	margin-top: 30rpx;
	padding-bottom: 150rpx;
}

.tui-share-item {
	width: 126rpx;
	display: inline-block;
	margin-right: 24rpx;
	text-align: center;
}

.tui-item-last {
	margin: 0;
}

.tui-empty {
	display: inline-block;
	width: 30rpx;
	visibility: hidden;
}

.tui-share-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fafafa;
	height: 126rpx;
	width: 126rpx;
	border-radius: 32rpx;
}

.tui-share-text {
	font-size: 24rpx;
	color: #7E7E7E;
	line-height: 24rpx;
	padding: 20rpx 0;
	white-space: nowrap;
}

.tui-btn-cancle {
	width: 100%;
	height: 100rpx;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f6f6f6;
	font-size: 36rpx;
	color: #3e3e3e;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tui-hover {
	background: rgba(0, 0, 0, 0.2)
}

.popup-top{
	width: 92%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.selectAll{
	display: flex;
	align-items: center;
}

.pictures {
	height: 680rpx;
	background-color: #fff;
}

.pictures .card {
	position: relative;
	border-radius: 8px;
}

.pictures .card image{
	width: 100%;
	height: 180rpx;
	border-radius: 8px;
}


.pictures .tui-grid {
	padding: 2px 4px;
}

.pictures .card-circle{
	position: absolute;
	z-index: 999;
	top: 130rpx;
	left: 190rpx;
}


/* 图片淡入淡出 */
.fadeImg {
width: 100px;
height: 100px;
background: #fff;
-webkit-animation: fadeinout 2s linear forwards;
animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}

@keyframes fadeinout {
0%{ opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}


@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@keyframes fadeinout {
0%{ opacity:0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}

@keyframes fadeinout {
0%{ opacity: 0; }
50% { opacity:1; }
}