/deep/.uni-scroll-view-refresh__spinner>circle{
   color:#8c8c8c !important;
}
/deep/.uni-scroll-view-refresh-inner>svg {	
   fill: #8c8c8c  !important;
}

/deep/.uni-scroll-view-refresh-inner{
	box-shadow: 0 0 0 #fff;
}


ul{
	padding:0;
	margin: 35rpx;
}

ul li{
	list-style: none;
	border-bottom: 1px solid #f1f1f1;
}


.content .nav {
	display: flex;
	align-items: center;
}

.page{
	height: 95vh;
}

.tabs {
	margin-top: 12rpx;
	height: 120rpx;
}

.tabs-body {
	width: 600rpx;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabs-body .item {
	position: relative;
	text-align: center;
}

.tabs-body .item .name {
	font-size: 28rpx;
}

.container {
	padding-bottom: env(safe-area-inset-bottom);
}

.tui-item-box {
	padding: 5px 0 5px 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.tui-msg-box {
	display: flex;
	align-items: center;
}

.tui-msg-pic {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	display: block;
	margin-right: 24rpx;
	flex-shrink: 0;
}

.tui-msg-item {
	max-width: 500rpx;
	min-height: 80rpx;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tui-msg-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 30rpx;
	line-height: 1;
	color: #262b3a;
}

.tui-msg-content {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 25rpx;
	line-height: 1;
	color: #9397a4;
}

.tui-msg-right {
	max-width: 180rpx;
	height: 88rpx;
	margin-left: auto;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.tui-right-dot {
	height: 76rpx !important;
	padding-bottom: 10rpx !important;

}

.tui-msg-time {
	width: 100%;
	font-size: 24rpx;
	line-height: 24rpx;
	color: #9397a4;
}

.tui-custom-btn_box{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	
}

.tui-cell-hover{
	background-color: #fff !important;
}

.tui-custom-btn-top{
	width: 50%;
	height: 100%;
	background-color: #C8C7CD;
	text-align: center;
	line-height: 88rpx;
	color: #fff;
}

.tui-custom-btn-delete{
	width:  50%;
	height: 100%;
	background-color: #FD3B31;
	text-align: center;
	line-height:  88rpx;
	color: #fff;
}


  

  .no-conversation {
    width: 100%;
    text-align: center;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 34rpx;
    color: #9D9D9D;
  }


   .item-head_unread {
    padding: 6rpx;
    background-color: #EE593C;
    color: #FFFFFF;
    font-size: 34rpx;
    line-height: 28rpx;
    border-radius: 50%;
    min-width: 24rpx;
    min-height: 24rpx;
    text-align: center;
    position: absolute;
    top: 80rpx;
    right: 80rpx;
  }

 
  .unread-text {
    color: #d02129;
  }