/deep/.uni-scroll-view-refresh__spinner>circle{
   color:#8c8c8c !important;
}
/deep/.uni-scroll-view-refresh-inner>svg {	
   fill: #8c8c8c  !important;
}

/deep/.uni-scroll-view-refresh-inner{
	box-shadow: 0 0 0 #fff;
}

.content .nav {
	display: flex;
	align-items: center;
}

.page{
	height: 95vh;
}

.tabs {
	margin-top: 12rpx;
	height: 120rpx;
}

.tabs-body {
	width: 600rpx;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabs-body .item {
	position: relative;
	text-align: center;
}

.tabs-body .item .name {
	font-size: 28rpx;
}

.container {
	padding-bottom: env(safe-area-inset-bottom);
}

.tui-item-box {
	width: 100%;
	display: flex;
	align-items: center;
}

.tui-msg-box {
	display: flex;
	align-items: center;
}

.tui-msg-pic {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	display: block;
	margin-right: 24rpx;
	flex-shrink: 0;
}

.tui-msg-item {
	max-width: 500rpx;
	min-height: 80rpx;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tui-msg-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 30rpx;
	line-height: 1;
	color: #262b3a;
}

.tui-msg-content {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 25rpx;
	line-height: 1;
	color: #9397a4;
}

.tui-msg-right {
	max-width: 180rpx;
	height: 88rpx;
	margin-left: auto;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.tui-right-dot {
	height: 76rpx !important;
	padding-bottom: 10rpx !important;

}

.tui-msg-time {
	width: 100%;
	font-size: 24rpx;
	line-height: 24rpx;
	color: #9397a4;
}